.app {
  text-align: center;
  width: 100%;
}

.headerContainer {
  flex-wrap: wrap;
  display: flex;
  align-items: center;

  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;

  background-color: #9b789d;
  color: white;

  position: relative;
  height: 80px;
}

.logoContainer {
  display: flex;
  justify-content: start;
  width: 30%;
}

.navigationLinksContainer {
  display: flex;
  justify-content: end;
  width: 70%;
}

.navigationLinksContainer a {
  margin: 20px;
  color: #ffffff;
  text-decoration: none;
}

.navigationLinksContainer a:hover {
  margin: 20px;
  color: #000000;
  text-decoration: none;
}

.mainContentContainer {
  padding: 1rem;

  background-color: #f5eded;
  color: rgb(0, 0, 0);
}

.greetContainer {
  display: flex;
  padding: 1rem;
}

.selfPresContainer {
  padding-right: 3rem;
  padding-left: 3rem;

  text-align: start;
}

.socialIcon {
  padding: 1rem;
}

.avatarContainer {
  flex-wrap: wrap;
}

.avatar {
  display: flex;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.socialMediaLinksContainer {
  display: flex;
}

.aboutMeContainer {
  display: flex;
}

.aboutMeImageContainer {
  display: flex;
  width: 50%;
}

.avoutMeTextContainer {
  display: flex;
  text-align: start;
  display: column;
}

.footerContainer {
  padding: 1rem;

  background-color: #d57f22;
  color: white;
}
