.app {
  text-align: center;
  width: 100%;
  font-family: "Roboto", regular;

  --header-footer-background-color: #9b789d;
  --logo-color: #ffffff;
  --navigation-links-color: #ffffff;
  --navigation-links-hover-color: #4b3a4a;

  --images-border-color: 1px solid #565555;

  --teckStack-ikons-color: #9b789d;

  --header-text-color: #e91e63;
  --header-text-transform: uppercase;
  --header-font-weight: 800;

  --sections-background-color: rgb(243, 240, 245);

  --preview-buttons-border: 2px solid #000000;
  --preview-buttons-background-hover-color: #e91e63;
  --preview-buttons-color: #ffffff;

  --footer-text-color: #ffffff;
}

.headerContainer {
  flex-wrap: wrap;
  display: flex;
  align-items: center;

  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;

  background-color: var(--header-footer-background-color);

  position: relative;
  height: 60px;
}

.logoContainer {
  display: flex;
  justify-content: start;
  width: 30%;
  color: var(--logo-color);
}

.navigationLinksContainer {
  display: flex;
  justify-content: end;
  width: 70%;
}
.navigationLinksContainer ul {
  display: flex;
  color: var(--navigation-links-color);
  text-decoration: none;
  list-style-type: none;
  justify-content: end;
}

.navigationLinksContainer li {
  margin-left: 2rem;
  font-weight: 800;
}

.navigationLinksContainer li:hover {
  margin-left: 2rem;
  color: var(--navigation-links-hover-color);
  font-weight: 800;
  text-decoration: none;
  text-decoration: none;
}

.navigationHover {
  box-shadow: inset 0 0 0 0 #ffffff;
  color: #ffffff;
  padding: 0 0.25rem;
  margin: 0 -0.25rem;
  transition: color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}
.navigationHover:hover {
  color: #4b3a4a;
  box-shadow: inset 200px 0 0 0 #ffffff;
}

/* ________________MAIN CONTENT SECTION________________ */
.mainContentContainer {
  padding-top: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;

  background-color: #ffffff;
}

.greetContainer {
  display: flex;
  margin: auto;
  width: 70%;

  padding-top: 4rem;
  padding-bottom: 6rem;
}

.selfPresContainer {
  padding-right: 3rem;
  padding-left: 3rem;

  text-align: start;
}

.avatarContainer {
  flex-wrap: wrap;
}

.avatar {
  display: flex;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: var(--images-border-color);
}

.socialMediaLinksContainer {
  display: flex;
  font-size: 35px;
  margin-right: 15px;
  color: #4e3c4f;
}

.linkedin {
  color: #0072b1;
  margin-right: 15px;
}

.linkedin:hover {
  font-size: 35px;
  margin-right: 15px;
  color: #e4405f;
}

.twitter {
  color: #00acee;
  margin-right: 15px;
}
.twitter:hover {
  font-size: 35px;
  margin-right: 15px;
  color: #171515;
}

.gitHub {
  color: #171515;
  margin-right: 15px;
}

.gitHub:hover {
  font-size: 35px;
  margin-right: 15px;
  color: #00acee;
}

.instagram {
  color: #e4405f;
  margin-right: 15px;
}

.instagram:hover {
  font-size: 35px;
  margin-right: 15px;
  color: #0072b1;
}

.tiktok {
  font-size: 35px;
  color: #000000;
}

.tiktok:hover {
  font-size: 35px;
  color: #d52f2f;
}

.teckStackContainer {
  justify-content: center;
  padding: 1rem;
  padding-bottom: 5rem;
}

.teckStackContainer a {
  display: inline-flex;
  justify-content: center;
  margin-top: 15px;
  margin-left: 40px;
  margin-right: 40px;

  font-size: 50px;
  text-decoration: none;
  color: var(--teckStack-ikons-color);
}

.aboutMeContainer {
  margin: auto;
  width: 90%;
  display: flex;
  padding: 1rem;
  padding-right: 2rem;
  padding-top: 1rem;
  background-color: var(--sections-background-color);
  border-radius: 15px;
}

.aboutMeImageContainer {
  display: flex;
  width: 350px;
  height: 250px;
  border-radius: 5%;
  border: var(--images-border-color);
}

.aboutMeHeaderText {
  margin: 0px;
  text-transform: var(--header-text-transform);
  color: var(--header-text-color);
  font-weight: var(--header-font-weight);
}

.aboutMeTextContainer {
  display: column;
  text-align: justify;
  padding-left: 3rem;
}

.portfolioHeader {
  display: flex;

  text-transform: var(--header-text-transform);
  color: var(--header-text-color);
  font-weight: var(--header-font-weight);
  padding-left: 3rem;
  padding-top: 1rem;
}

.portfolioTitle {
  display: flex;
  padding-left: 3rem;
}

.portfolioContainer {
  margin: auto;
  width: 90%;
  display: flex;
  padding: 1rem;
  padding-right: 2rem;
  margin-top: 1rem;

  background-color: var(--sections-background-color);
  border-radius: 15px;
}

.portfolioImageContainer {
  display: flex;
  width: 350px;
  height: 250px;
  border-radius: 5%;
  border: var(--images-border-color);
}

.projectHeaderText {
  display: flex;
  text-transform: uppercase;
  margin: 0px;
  justify-content: center;
}

.projectDescriptionTextContainer {
  display: column;
  text-align: justify;
  padding-left: 3rem;
}

.usedToolsContainer {
  display: flex;
  justify-content: center;
}

.usedTools {
  display: flex;
  font-size: 25px;
  margin: 10px;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
}

.buttonsPreviewProject {
  display: flex;
  border: var(--preview-buttons-border);

  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}

.buttonsPreviewProject:hover {
  background-color: var(--preview-buttons-background-hover-color);
  color: var(--preview-buttons-color);
}

/* ________________FOOTER CONTENT SECTION________________ */
.footerContainer {
  display: flex;
  flex-direction: column;
  height: 160px;
  margin-top: 2rem;
  padding: 1rem;

  background-color: var(--header-footer-background-color);
  color: var(--footer-text-color);
  width: 100%;
}

.contactsHeader {
  display: flex;
  padding-left: 2rem;

  text-transform: var(--header-text-transform);
  color: var(--footer-text-color);
  font-size: medium;
  font-weight: var(--header-font-weight);
}

.dontBeShyText {
  display: flex;
  padding-left: 2rem;
}

.email {
  display: flex;
  padding-left: 2rem;
  text-decoration: none;
  font-weight: 800;
  color: var(--footer-text-color);
}

.email:hover {
  color: #000000;
}

.copyrightText {
  display: flex;
  padding-left: 2rem;
}
