.app {
  text-align: center;
}

.headerContainer {
  flex-wrap: wrap;
  display: flex;
  padding: 1rem;

  background-color: #902890;
  color: white;
}

.mainContentContainer {
  padding: 1rem;

  background-color: #60cc6f;
  color: white;
}

.footerContainer {
  padding: 1rem;

  background-color: #d57f22;
  color: white;
}
