/* Maximum width */
@media (max-width: 512px) {
  .app {
    text-align: center;
    font-family: "Roboto", regular;
    width: 100%;
  }

  .headerContainer {
    height: 90px;
    padding: 1rem;
    width: 100%;
  }

  .logoContainer {
    justify-content: center;
    width: 100%;
  }

  .navigationLinksContainer {
    justify-content: center;
  }

  /* ________________MAIN CONTENT SECTION________________ */
  .mainContentContainer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .greetContainer {
    flex-direction: column;
    padding: 1rem;
  }

  .selfPresContainer {
    justify-content: center;
    padding-right: 1rem;
    padding-left: 1rem;

    text-align: center;
  }

  .headerGreeting {
    font-size: large;
  }

  .textGreeting {
    width: 100%;
    font-size: small;
  }

  .avatarContainer {
    flex-direction: column;
    justify-content: center;
    display: flex;
  }

  .avatar {
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .socialMediaLinksContainer {
    justify-content: center;
    display: flex;
    font-size: 35px;
  }

  .teckStackContainer {
    justify-content: center;
    /* padding: 1rem; */
    /* padding-bottom: 5rem; */
    /* margin: 10px; */
  }
  .teckStackContainer a {
    display: inline-flex;
    justify-content: center;
    /* margin-top: 10px; */
    margin-left: 10px;
    margin-right: 10px;

    font-size: 40px;
    text-decoration: none;
  }

  .aboutMeContainer {
    flex-direction: column;
    width: 100%;
    display: flex;
    padding: 1rem;
    padding-top: 1rem;
    border-radius: 15px;
  }

  .aboutMeImageContainer {
    width: 100%;
    height: 100%;
    border-radius: 5%;
  }

  .aboutMeHeaderText {
    margin-top: 15px;
  }

  .aboutMeTextContainer {
    display: column;
    text-align: justify;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .portfolioHeader {
    display: flex;

    padding-left: 1rem;
    padding-top: 1rem;
  }

  .portfolioTitle {
    display: flex;
    justify-content: flex-start;
  }

  .portfolioContainer {
    margin: auto;
    width: 100%;
    display: flex;
    padding: 1rem;
    border-radius: 15px;
    flex-direction: column;
  }

  .portfolioImageContainer {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 5%;
  }

  .projectHeaderText {
    padding-top: 1rem;
    justify-content: center;
  }

  .projectDescriptionTextContainer {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  /* ________________FOOTER CONTENT SECTION________________ */
  .footerContainer {
    height: 160px;
    margin-top: 1rem;
    padding: 1rem;

    width: 100%;
  }

  .dontBeShyText {
    padding-left: 1rem;
  }

  .email {
    padding-left: 1rem;
    text-decoration: none;
    font-weight: 800;
  }
}
